[Unit]
Description=firewall daemon container with system dbus
Documentation=https://github.com/thkukuk/firewalld-container
After=network-online.target
Wants=network-online.target
After=dbus.service
After=polkit.service
Conflicts=iptables.service ip6tables.service ebtables.service ipset.service nftables.service firewalld.service
StartLimitIntervalSec=40
StartLimitBurst=5

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=1s
TimeoutStopSec=70
Environment=FIREWALLD_IMAGE_PATH=registry.opensuse.org/home/kukuk/container/firewalld:latest
Environment=CONFIG_DIR=/srv/firewalld
EnvironmentFile=-/usr/etc/default/container-firewalld
EnvironmentFile=-/etc/default/container-firewalld
ExecStartPre=/usr/bin/mkdir -p ${CONFIG_DIR}
ExecStartPre=/bin/rm -f %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull ${FIREWALLD_IMAGE_PATH}
ExecStart=/bin/sh -c "/usr/bin/podman run --conmon-pidfile %t/%n.pid --cidfile %t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon --replace -d --rm ${PODMAN_EXTRA_ARGS} -v ${CONFIG_DIR}:/etc/firewalld -e NODBUS=1 -v /run/dbus/system_bus_socket:/run/dbus/system_bus_socket --net=host --privileged --name firewalld ${FIREWALLD_IMAGE_PATH}"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
